@page
@model tareaBase.Pages.Zoologicos.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Zoologico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Zoologico.id" />
            <div class="form-group">
                <label asp-for="Zoologico.Pais" class="control-label"></label>
                <input asp-for="Zoologico.Pais" class="form-control" />
                <span asp-validation-for="Zoologico.Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zoologico.Nombre" class="control-label"></label>
                <input asp-for="Zoologico.Nombre" class="form-control" />
                <span asp-validation-for="Zoologico.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zoologico.Telefono" class="control-label"></label>
                <input asp-for="Zoologico.Telefono" class="form-control" />
                <span asp-validation-for="Zoologico.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zoologico.SitioWeb" class="control-label"></label>
                <input asp-for="Zoologico.SitioWeb" class="form-control" />
                <span asp-validation-for="Zoologico.SitioWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
