@page
@model IndexModel
@{
    ViewData["Title"] = "Zoologicos del mundo";
}

<div class="text-center">
    <h1 class="display-4"> Bienvenidos </h1>
    <p> Aplicacion web encargada de administrar los zoologicos del mundo. </p>
    
    <div >
        
    </div>
</div>


